/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 35px;
}
h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 0;
}
h2{
    font-size: 35px;
    font-weight: 700;
}
h3{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}
h4{
    font-size: 20px;
    margin: 0;
}

/* menu section */
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-left: 35px;
}

/* first section */
.flexible-container{
    display: flex;
    margin-bottom: 50px;
    }
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color:#E02C6D;
    padding: 10px 25px;
    border-radius: 40px;
}
.fa-arrow-right{
    margin-left: 10px;
}
/* animation */
@keyframes roll {
    0%{
        transform: scale(0.5) rotate(360deg);
    }
    100%{
        transform: scale(-1.0) rotate(-180deg);
    }
}
.move-image:hover{
    
    animation: roll 2s ease-in-out alternate;
    animation-play-state: running;
}
/* logo bar */
.logo-bar{
    display: flex;
    justify-content: center;
    margin: 35px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 35px;
}
.logo-bar img{
    margin-left: 30px;
    margin-right: 30px;
}

/* popular collection section */
.popular-collection{
    margin-left: 115px;
    margin-right: 115px;
}
.popular-collection a{
    position: absolute;
    left: 1050px
}
.popular-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.popular-item{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 25px lightgray;
}
.item-image{
    border-radius: 5px;
}
.rating span{
    margin-left: 10px;
    color: #787885;
}
.fa-star.filled, .fa-star-half-alt{
    color: #FB8200;
    margin-top: 10px;
}
.shipping{
    color: #787885;
    line-height: 10px;
}
.see-more-button{
    text-decoration: none;
    color:#E02C6D;
    padding: 10px 25px;
    margin: 10px;
}